<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogEntries.Token" value="00000000-0000-0000-0000-000000000000"/> <!--Your LogEntries.com key goes here-->
    <add key="LogEntries.ImmediateFlush" value="true"/>
    <add key="LogEntries.Debug" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <add name="LogEntries" type="Diagnostics.Listeners.LogEntriesListener, Diagnostics.Listeners" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>